<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    <h1>{{title}}</h1>
    {{text}}
    <hr />
    <small>param: {{param}}</small>
</body>
</html>